<html>
    <head>
        <title>
            {{ account.name }}
        </title>
        <style>
            body {
                background-color: {{ theme.options.main.background_color }};
            }
        </style>
    </head>
    <body> 
            {% for insult in boxes.insults.all %}
            <div>
            <h1>{{ insults.name }}</h1>
            </div>
            {% endfor %}  
         <h2>{{ theme.options.main.header_image.alt_text }}</h2>
         <img src="{{ theme.options.main.header_image.url }}" />
         <em>A theme by: {{ theme.config.theme.name }}</em>

    </body>
</html>