<html>

        {% set insult = boxes.insults.all|random %}

    <head>
        <title>
            {{ account.name }}
        </title>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Barlow:900|Lexend+Deca&display=swap');
            
            body {
                background-color: {{ insult.fields.background_color }};
                font-size: Lexend Deca;
                color: #ffffff;
            }

            h1 {
                font-size: 50px;
                font-weight: 900;
                font-family: Barlow;
                color: #ffffff;
            }
        </style>
    </head>
    <body> 
{% block body %}

        <h1>{{ insult.name }}</h1>

{% endblock %}
    </body>
</html>